@import "./partials/bootstrap-overrides";

// custom style

@mixin line {
    border-top: 1px solid $mute-color;
    padding-top: 1rem;
}

@mixin pointy {
    border: 1px solid transparent;
    border-radius: 0;
    padding-inline: 2rem;
    font-weight: 600;
    &border{
        border-color: inherit;
    }
}

@mixin custom-checkbox {
    border-radius: 0 !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 25px; 
    height: 25px;
    @if $sm {
        width: 20px;
        height: 20px;
    } 
    background-color: #fff;
    border: 1px solid #666666; 
    cursor: pointer;
    margin-right: 5px;
  }

  @mixin adjust-for-sm {
    @media (max-width: $sm) {
      p {
        font-size: 14px;
      }
      .form-check-label {
        font-size: 12px;
      }
      .form-check{
        margin-bottom: 1rem;
      }
      .avatar-img{
        width: 10px;
      }
      .dropdown-items {
        font-size: 14px;
      }
  
      .btn, .form-control {
        padding: 0.35rem 0.75rem;
        font-size: 0.85rem; 
      }
      .mb-3 { 
        margin-bottom: 2rem !important; 
      }
    }
  }

.avatar img {
    width: 140px;
    margin-right: 1rem;
    @if $sm {
        width: 100px;
    }
}

h1 {
    font-size: 60px;
    @if $sm {
        font-size: 40px;
        padding-left: 10px;
    }
    font-weight: 400;
    margin: 0;
}
span {
    color: $acc-gray;
    font-size: 20px;
    margin-bottom: 8px;
}

.s-one, .s-two, .s-three, .s-four {
    @include line;
    @include adjust-for-sm()
}

.pointy {
    @include pointy
}

.form-control {
    background-color: #666666;
}

.checkbox-new {
  @include custom-checkbox();
  &:checked{
    background-color: $darker-color;
    border-color: $mute-color;
  }
}

